.moviesListContainer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 2% 3% ;
}

.noFavorite {
  grid-column-start: 1;
  grid-column-end: 5;
}

@media screen and (min-width: 450px) and (max-width: 770px) {
  .moviesListContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 450px) {
  .moviesListContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}