@font-face {
  font-family: 'OpenSans-bold';
  src: url("./fonts/OpenSans-Bold.ttf")
}

@font-face {
  font-family: 'OpenSans-regular';
  src: url("./fonts/OpenSans-Regular.ttf")
}

App {
  font-family: 'OpenSans-regular', sans-serif;
}

h2, strong {
  font-family: 'OpenSans-bold', sans-serif;;
}

.loader {
  height: 100px;
  width: 100px;
  border: 8px solid rgb(158, 161, 169);
  border-right-color: #EC0451;
  border-radius: 100%;
  animation: rotate 1s infinite linear;
  margin: 25vh auto auto auto;
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}